#version: '1'

services:
  app:
    image: 'docker-spring-boot-postgres:latest'
    build:
      context: .
    container_name: application
    depends_on:
      - db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/world-db
      - SPRING_DATASOURCE_USERNAME=world
      - SPRING_DATASOURCE_PASSWORD=world123
      - SPRING_JPA_HIBERNATE_DDL_AUTO=update

  db:
    image: 'ghusta/postgres-world-db:2.5'
    container_name: db
    environment:
      - POSTGRES_USER=world
      - POSTGRES_PASSWORD=world123